# Ambientes Virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Arquivos de Dados (Liberado para repo privado)
# Se necessário, você pode ignorar outros arquivos grandes aqui
*.json

# Configurações Locais do Streamlit
.streamlit/credentials.toml

# Logs e arquivos do SO
*.log
.DS_Store
Thumbs.db
